@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Jost:wght@300&display=swap');

.contact {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: orange; */
}

.contact .header {
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
}

.contact .contact_div {
    width: 40%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.005rem 0.05rem 0.5rem 0.1rem grey;
    background-color: white;
    /* background-color: orchid; */
}

.contact .contact_div .flexdiv {
    width: 90%;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    /* background-color: blueviolet; */
}

.contact .contact_div .flexdiv .icon {
    margin-right: 0.5rem;
    font-size: 1.6rem;
    /* background-color: orange; */
}

.contact .contact_div .flexdiv h2 {
    width: 100%;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    /* background-color: orange; */
}

.contact .social {
    margin-top: 3rem;
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.005rem 0.05rem 0.5rem 0.1rem grey;
    background-color: white;
}

.contact .social .social_icons {
    margin: 0 1rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.contact .social .social_icons:hover {
    opacity: 0.9;
}

.contact .social .linkedin {
    color: #0a66c2;
}

.contact .social .facebook {
    color: #385899;
}

.contact .social .instagram {
    color: #b7338f;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

    .contact .contact_div {
        width: 95%;
        padding: 0;
        /* background-color: orchid; */
    }

    .contact .contact_div .flexdiv {
        width: 100%;
        padding: 0.5rem 0.7rem;
        /* background-color: blueviolet; */
    }

    .contact .social {
        width: 95%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .contact .contact_div {
        width: 90%;
        padding: 0rem;
        /* background-color: orchid; */
    }

    .contact .contact_div .flexdiv {
        width: 100%;
        padding: 0.5rem 1rem;
        /* background-color: blueviolet; */
    }

    .contact .social {
        width: 90%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .contact .contact_div {
        width: 80%;
        padding: 0rem;
        /* background-color: orchid; */
    }

    .contact .contact_div .flexdiv {
        width: 100%;
        padding: 0.5rem 2rem;
        /* background-color: blueviolet; */
    }

    .contact .social {
        width: 80%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .contact .contact_div {
        width: 65%;
        padding: 0rem;
        /* background-color: orchid; */
    }

    .contact .contact_div .flexdiv {
        width: 100%;
        padding: 0.5rem 2rem;
        /* background-color: blueviolet; */
    }

    .contact .social {
        width: 65%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .contact .contact_div {
        width: 50%;
        padding: 0rem;
        /* background-color: orchid; */
    }

    .contact .contact_div .flexdiv {
        width: 100%;
        padding: 0.5rem 2rem;
        /* background-color: blueviolet; */
    }

    .contact .social {
        width: 50%;
    }
}