@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

.container {
  padding: 0 3rem;
}

.main {
  min-height: 90vh;
  width: 100%;
  margin: 1rem 0;
  /* padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: blueviolet; */
}

.main .banner {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.005rem 0.05rem 0.5rem 0.1rem grey;
  background-color: white;
}

.main .banner .banner_left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* background-color: yellowgreen; */
}

.main .banner .banner_left .heading {
  /* margin-top: 3rem; */
  margin-bottom: 0rem;
  width: 80%;
  /* background-color: brown; */
}

.main .banner .banner_left .heading h1 {
  font-size: 3rem;
  font-family: 'Exo 2', sans-serif;
  line-height: 2.5rem;
}

.main .banner .banner_left .heading .name {
  color: rgb(254, 49, 223);
}

.main .banner .banner_left .intro {
  width: 80%;
  /* background-color: olivedrab; */
}

.main .banner .banner_left h2 {
  width: 85%;
  font-weight: normal;
  font-family: 'Cormorant Garamond', serif;
  word-wrap: break-word;
  /* background-color: orchid; */
}

.main .banner .banner_right {
  height: 21rem;
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: purple; */
}

.main .banner .banner_right .banner_img {
  position: relative;
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  /* background-color: orange; */
}

.main .banner .banner_right span img {
  border: none;
  border-radius: 50%;
}

.main .subhead {
  text-align: center;
  font-size: 3rem;
  font-family: 'Cormorant SC', serif;
}

.main .skills {
  min-height: 30vh;
  margin: 1rem 0;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem; */
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.005rem 0.05rem 0.5rem 0.1rem grey;
  background-color: white;
  /* background-color: red; */
}

.main .skills .skill_item {
  height: 9rem;
  width: 9rem;
  margin: 0;
  /* margin-bottom: 2.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellowgreen; */
}

.main .skills .skill_item .skill_image_div {
  position: relative;
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: 50%;
  /* background-color: red; */
}

.main .skills .skill_item span img {
  border: none;
  border-radius: 50%;
}

.main .skills .skill_item h3 {
  font-family: 'Chakra Petch', sans-serif;
}

.main .projects_container {
  height: 5vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orchid; */
}

.main .projects_container button {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-family: 'Nunito', sans-serif;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  background-color: rgb(254, 49, 223);
}

.main .projects_container button:hover {
  color: rgb(254, 49, 223);
  background-color: white
}

/* Media Queries */

@media only screen and (max-width: 430px) {

  .container {
    padding: 0 1rem;
  }
  
  .main .banner {
    flex-direction: column-reverse;
    /* background-color: orange; */
  }

  .main .banner .banner_left {
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
  }

  .main .banner .banner_left .heading {
    width: 100%;
    text-align: center;
    /* background-color: brown; */
  }
  
  .main .banner .banner_left .heading h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .main .banner .banner_left .intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: olivedrab; */
  }

  .main .banner .banner_right {
    height: 18rem;
    width: 70%;
    margin: 1rem 0;
    /* background-color: purple; */
  }
  
  .main .banner .banner_right .banner_img {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
  }

  .main .skills {
    padding: 2rem 1rem;
    justify-content: space-between;
    /* background-color: red; */
  }

  .main .skills .skill_item {
    height: 9rem;
    width: 9rem;
    margin-bottom: 2rem;
    /* background-color: yellowgreen; */
  }

  .main .skills .skill_item .skill_image_div {
    height: 4rem;
    width: 4rem;
    /* background-color: red; */
  }

}

@media only screen and (min-width: 431px) and (max-width: 480px) {

  .container {
    padding: 0 1rem;
  }
  
  .main .banner {
    flex-direction: column-reverse;
    /* background-color: orange; */
  }

  .main .banner .banner_left {
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
  }

  .main .banner .banner_left .heading {
    width: 100%;
    text-align: center;
    /* background-color: brown; */
  }
  
  .main .banner .banner_left .heading h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .main .banner .banner_left .intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: olivedrab; */
  }

  .main .banner .banner_right {
    height: 18rem;
    width: 70%;
    margin: 1rem 0;
    /* background-color: purple; */
  }
  
  .main .banner .banner_right .banner_img {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
  }

  .main .skills {
    padding: 2rem 0.5rem;
    justify-content: flex-start;
    /* background-color: red; */
  }

  .main .skills .skill_item {
    height: 7rem;
    width: 7rem;
    margin: 0 0.5rem;
    margin-bottom: 2rem;
    /* background-color: yellowgreen; */
  }

  .main .skills .skill_item .skill_image_div {
    height: 3rem;
    width: 3rem;
    /* background-color: red; */
  }

}

@media only screen and (min-width: 481px) and (max-width: 600px) {

  .container {
    padding: 0 1rem;
  }
  
  .main .banner {
    flex-direction: column-reverse;
  }

  .main .banner .banner_left {
    width: 100%;
    height: 100%;
  }

  .main .banner .banner_left .heading {
    width: 100%;
    text-align: center;
  }
  
  .main .banner .banner_left .heading h1 {
    font-size: 2.2rem;
    line-height: 2rem;
  }
  
  .main .banner .banner_left .intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .banner .banner_right {
    height: 20rem;
    width: 65%;
    margin: 1rem 0;
  }
  
  .main .banner .banner_right .banner_img {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
  }

  .main .skills {
    padding: 2rem 1rem;
    justify-content: space-between;
  }

  .main .skills .skill_item {
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
  }

  .main .skills .skill_item .skill_image_div {
    height: 4rem;
    width: 4rem;
    /* background-color: red; */
  }

}

@media only screen and (min-width: 601px) and (max-width: 720px) {

  .container {
    padding: 0 1rem;
  }
  
  .main .banner {
    flex-direction: column-reverse;
  }

  .main .banner .banner_left {
    width: 100%;
    height: 100%;
  }

  .main .banner .banner_left .heading {
    width: 100%;
    text-align: center;
  }
  
  .main .banner .banner_left .heading h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  
  .main .banner .banner_left .intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .banner .banner_right {
    height: 22rem;
    width: 60%;
    margin: 1rem 0;
  }
  
  .main .banner .banner_right .banner_img {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
  }

  .main .skills {
    padding: 2rem 1rem;
    justify-content: space-between;
  }

  .main .skills .skill_item {
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 721px) and (max-width: 900px) {

  .container {
    padding: 0 1rem;
  }
  
  .main .banner {
    flex-direction: column-reverse;
  }

  .main .banner .banner_left {
    width: 100%;
    height: 100%;
  }

  .main .banner .banner_left .heading {
    width: 100%;
    text-align: center;
  }
  
  .main .banner .banner_left .heading h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  
  .main .banner .banner_left .intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .banner .banner_right {
    height: 20rem;
    width: 45%;
    margin: 1rem 0;
  }
  
  .main .banner .banner_right .banner_img {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
  }

  .main .skills {
    padding: 2rem 1rem;
    justify-content: flex-start;
    /* background-color: orange; */
  }

  .main .skills .skill_item {
    margin: 0 1.5rem;
    margin-bottom: 2rem;
    /* background-color: lime; */
  }

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

  .container {
    padding: 0 1rem;
  }

  .main .banner .banner_left {
    width: 70%;
    height: 100%;
    /* background-color: orange; */
  }
  
  .main .banner .banner_left .heading h1 {
    font-size: 2.5rem;
    /* line-height: 2rem; */
  }

  .main .banner .banner_right {
    height: 20rem;
    width: 60%;
    margin-right: 1.5rem;
    /* background-color: orchid; */
  }
  
  .main .banner .banner_right .banner_img {
    height: 100%;
    width: 70%;
    /* background-color: orange; */
  }

  .main .skills {
    padding: 2rem 1rem;
    justify-content: flex-start;
    /* background-color: orange; */
  }

  .main .skills .skill_item {
    margin: 0 1.5rem;
    margin-bottom: 2rem;
    /* background-color: lime; */
  }

}