@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap');

.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.navbar ul {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(88, 88, 4); */
}

.navbar ul li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.3rem;
    font-family: 'Assistant', sans-serif;
    /* font-weight: bold; */
    /* color: white; */
}

.navbar ul li.active, .navbar ul li:hover {
    font-weight: bold;
    /* color: rgb(0, 224, 224); */
    color: rgb(254, 49, 223);
    /* color: rgb(255, 0, 255); */
}