@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Rokkitt:wght@300&display=swap');

.projects {
    min-height: 90vh;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: orange; */
}

.projects .head {
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
}

.projects .projects_div {
    margin: 1rem 0;
    width: 82%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    /* background-color: blueviolet; */
}

.projects .project_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid grey;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.005rem 0.05rem 0.5rem 0.1rem grey;
    cursor: pointer;
    /* background-color: plum; */
}

.projects .project_box:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.projects .project_box .description_div {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    /* background-color: orange; */
}

.projects .project_box .description_div h1 {
    font-family: 'Changa', sans-serif;
}

.projects .project_box .description_div h3 {
    width: 90%;
    text-align: center;
    font-family: 'Rokkitt', serif;
    word-wrap: break-word;
    /* background-color: yellowgreen; */
}

.projects .project_box .bottom_div {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orchid; */
}

.projects .project_box .bottom_div .icons {
    cursor: pointer;
}

.projects .project_box .bottom_div h2 {
    font-family: 'Cormorant Garamond', serif;
}